@use '@angular/material' as mat;

html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  height: 100%;

  color-scheme: light dark;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(9, 70, 9);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}
